* {
    padding: 0;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.footer-container{
    background-color: #aab9c7;

   padding: 2rem;
    position: relative;
    display: flex;
    justify-content:space-between;
}



/* Footer left */

.footer-container .footer-left {
    margin-bottom: 3rem;
    margin-left:5rem ;
    width: 30%;
    /* margin-right: 5.5rem; */
}

.footer-container h1 {
    color: #1CD6CE;
    font: normal 30px 'Cookie', cursive;
    text-align: center;
    margin-top:15px ;
    margin-bottom: 25px;
    padding: 10px 15px;
    /* border-radius: 2rem; */
    background-color: #464242;
    text-decoration: none;

    
}

.footer-container h1 span {
    color: #1CD6CE;
}

/* Footer links */

.footer-container .footer-links {
    color: black;

    margin: 20px 0 25px;
}

.footer-container .footer-links a{
    display: inline-block;
    line-height: 2;
    margin-left: 3px;
    margin-right: 1px;
    text-decoration: none;
    color: inherit;
}
.footer-links a:hover{
     color: rgb(107, 107, 223);
}

.footer-container .footer-company-name {
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer right */

.footer-container .footer-right {
    width: 25%;
    margin: 1rem 5rem;
}

.footer-container .footer-right p {
    line-height: 42px;

}
.footer-container .footer-right .c {
    margin-right: 5px;
}


/* .footer-container .footer-right i.fa-envelope {
    font-size: 40px;
    line-height: 38px;
} */

.footer-container .footer-right p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

/* .footer-container .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 29px;
    line-height: 2;
} */

.footer-container .footer-right p a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin-left: 1rem;
}



